# tuples


### What is a Tuple?
A Tuple is ordered collection of Python objects separated by commas. 


In some ways, a tuple is similar to a list in terms of indexing, nested objects, and repetition but a tuple is immutable, unlike lists that are mutable.



Tuples are immutable but follows some rules same as list like len, min, max, slicing.

### How to create tuple ??

In [3]:
t=(1,2,3)  ### homogeneuous tuple
print(t)
type(t)

(1, 2, 3)

tuple

In [4]:
t=(1,2,3,3.6)  ### hetrogeneuous tuple
print(t)
type(t)

(1, 2, 3, 3.6)

tuple

### create a single element with tuple.

In [45]:
t=(1)
type(t)

int

In [44]:
t=("madrid")
type(t)

str

In [6]:
t=(1,)  ### tuple with single element
print(t)

(1,)

In [7]:
t=()  ## empty tuple
print(t)

()

### nested tuple

In [41]:
t=((1,2,3),(4,5,6))  ## 2d tuple
t

((1, 2, 3), (4, 5, 6))

In [11]:
t1=tuple([1,2,3]) ## typecasting :   parameter of tuple can be string,list 
print(t1)
type(t1)

(1, 2, 3)

tuple

In [12]:
t1=tuple("balmeet") ## typecasting :   parameter of tuple can be string,list 
print(t1)
type(t1)

('b', 'a', 'l', 'm', 'e', 'e', 't')

tuple

###  tuples : immutability

In [1]:
tuple1 = (0, 1, 2, 3)
tuple1[0] = 4 # here trying to assign new value to tuple's 0th index
print(tuple1)
# since tuples are immutable we got an error

TypeError: 'tuple' object does not support item assignment

### difference between list  and tuple

### How to add the element in the tuple : not possible as immutability hold

### How to delete the element in the tuple : not possible as below :

In [46]:
t=(1,2,3,[2,3,4],(3,2),"hello")
del t[0]

TypeError: 'tuple' object doesn't support item deletion

In [48]:
del t[3]

TypeError: 'tuple' object doesn't support item deletion

## slicing in tuple : same as string,list

### common functions for sequence


- len()
- max()
- min()
- sum()

In [13]:
t=(1,2,3)
len(t)

3

In [15]:
t=(100,200,3)
max(t)

200

In [16]:
t=(100,200,3)
min(t)

3

In [24]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

tuple inbuilt functions

- index()

- count()

In [20]:
t.index(100)

0

In [22]:
t=(100,200,100,200)
t.count(100)

2

In [25]:
t = (1,2,3,(3,4,5,6),'wert','ban',[1,2,3],5.5)
t.index("ban")

5

In [26]:
t = (1,2,3,(3,4,5,6),'wert','ban',[1,2,3],5.5)
t.index([1,2,3])

6

### operations :
- concatenation
- replication
- membership

In [28]:
t=(1,2,3)+("hello","hi")
t

(1, 2, 3, 'hello', 'hi')

In [30]:

t*2

(1, 2, 3, 'hello', 'hi', 1, 2, 3, 'hello', 'hi')

In [31]:
2 in t

True

### How to sort the elements of tuple

In [32]:
t=(1,100,3,5)
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [37]:
t

(1, 100, 3, 5)

In [38]:
l1=list(t)
l1.sort()

In [33]:
t=(1,100,3,5)
sorted(t)

[1, 3, 5, 100]

in a way we can say read only data type since we can do read operation as list but not having write authority

#### When to use Tuples

You may be wondering, "Why to bother using tuples when they have a few available methods?" 

Tuples are not used often as lists in programming but are used when immutability is necessary. While you are passing around an object and if you need to make sure that it does not get changed then tuple become your solution. It provides a convenient source of data integrity and security

### data intergrity means dat should not be changed

### Where we need data integrity ?