# Tuples
- What is a Tuple? 

A Tuple is a collection of Python objects like integer, floating number, strings which are separated by commas. In some ways, a tuple is similar to a list in terms of indexing, nested objects, and repetition but a tuple is immutable, unlike lists that are mutable.

In [1]:
t=('deepanshu',)
for i in t:
    print(i)
print(type(t))

deepanshu
<class 'tuple'>

In [2]:
t=('deepanshu')
for i in t:
    print(i)
print(type(t))

d
e
e
p
a
n
s
h
u
<class 'str'>

In [11]:
t=('deepanshu',)
print(type(t))

<class 'tuple'>

In [3]:
t='deepanshu''verma'
print(t[12])
print(t)
print(type(t))

m
deepanshuverma
<class 'str'>

In [1]:
t='deepanshu','verma'
# print(type(t))
# print(t[1])
# print(t)
# print(type(t))
# print(t[0].upper())
# print(t[0][0].split())
# print(t[0].strip())
# print('/'.join(t[0]))
# print(t[0].replace('d','D'))
# print(t.replace('verma','sharma'))
# print(t[1].find('verma'))
# print(t[0].clear())
# print(t)
# del t
# print(t)
# a=str(t)
# print(a)
# print(a.replace('verma','sharma'))

In [4]:
a=("1,2,3,4,5,6,7,8")
a.split(",")b

['1', '2', '3', '4', '5', '6', '7', '8']

In [13]:
a=("1,2,3,4,5,6,7,8")
b=a.split(",")
b
"".join(b)

'12345678'

In [ ]:
a=(12345678)
b=(','.join(a))
print(b)
print(type(a))

In [18]:
a=1,2,3,4,5,6,7,8
print(a)
print(type(a))
b=str(a)
print(b)
print(type(b))
d=b.replace(",","/")
print(d)

(1, 2, 3, 4, 5, 6, 7, 8)
<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8)
<class 'str'>
(1/ 2/ 3/ 4/ 5/ 6/ 7/ 8)

In [1]:
t='deepanshu','verma'
a='deepanshu','verma'
print(t+a)

('deepanshu', 'verma', 'deepanshu', 'verma')

In [20]:
t='deep,ans,hu'
print(type(t))

<class 'str'>

In [2]:
t='deep','ans','hu',
print(max(t))
print(type(t))

hu
<class 'tuple'>

In [20]:
x=[]
n=int(input("Enter Input No.="))
for i in range(1,n+1):
    a=int(input("Enter No.="))
    x.append(a)
print(max(x))
print(min(x))

Enter Input No.=4
Enter No.=2
Enter No.=4
Enter No.=1
Enter No.=8
8
1

In [1]:
t=(1,2,3,4,5)
print(max(t))
print(type(t))

5
<class 'tuple'>

In [7]:
t=1,2,3,4,5
print(type(t))

<class 'tuple'>

In [51]:
tup=('a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog')
# print(type(tup),tup)
# print(len(tup))
# print(tup[5])
# print(tup[7])
# print(tup[0:4])
# print(tup[:21])
# print(tup[0:41])
# print(tup[0:])
# print(tup[100])
# print(tup[0:100])
# print(tup[100:0])
# print(tup[0:42:2])
# print(tup[0:42:10])
# print(tup[0:42:100])
# print(tup[::])
# print(tup[0:41:1])
# print(tup[::1])
# print(tup[::2])
# print(tup[::50])
# print(tup[19:25])
# print(tup[19:])
# print(tup[1:200])
# print(tup[19:-5])
# print(tup[:-3])
# print(tup[-3:])
# print(tup[0:-3])
# print(tup[0:-3:2])
# print(tup[-3:-2])
# print(tup[-27:-24])
# print(tup[-3:-11])
# print(tup[-3:-11:-1])
# print(tup[-3::-1])
# print(tup[14:17])
# print(tup[::-1])
# print(tup[::-5])

('the', 'over', 'jumps', 'fox', 'brown', 'quick', 'a')

In [67]:
'madam'
'level'
'naman'

'naman'

In [9]:
name=('deepanshu',)
for i in name:
    print(i)

deepanshu

In [59]:
tup=('a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog')
# print(tup[19:25])
# print(tup[19:])
# print(tup[1:200])
# print(tup[19:-5])
# print(tup[:-5])
# print(tup[-3])
# print(tup[-3:])
# print(tup[0:-3])
# print(tup[0:-3:2])
# print(tup[-3:-2])
# print(tup[-27:-24])
# print(tup[-3:-11])
# print(tup[-3:-3])
# print(tup[14:17])
# print(tup[::-1])
# print(tup[::5])
print(tup[::-5])

('a', 'over')
('dog', 'fox')

In [27]:
t=(1,2,3,4,5,6,7,80)
print(type(t))
t[6]=1000

<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

### tuple functions

In [33]:
# Packing and unpacking of tuples
tup=('a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog') # packing of tuple
a,b,c,d,e,f,g,h,i=tup # unpacking  tuple

In [28]:
tup

('a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog')

In [30]:
a=10
b=40
c=a+b
c

50

In [27]:
# a,b = 1,2
# print('a',a)
# print('b',b)
# a,b=b,a
# print('a',a)
# print('b',b)

a 1
b 2
a 2
b 1

In [34]:
a='Tushar'
b='Karan'
a,b=b,a
print(a)
print(b)

Karan
Tushar

In [ ]:
a= 1

In [37]:
# a,b,c,d,e,f,g,h,i='a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'

In [39]:
print(a)
print(type(b),b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)

a
<class 'str'> quick
brown
fox
jumps
over
the
lazy
dog

In [41]:
i='a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'
type(i)

tuple

In [42]:
i=['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
type(i)

list

In [14]:
# modifying tuples

In [24]:
tup=('a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog') # packing of tuple
a,b,c,d,e,f,g,h,i=tup # unpacking  tuple
b='jaldi'
i='lion'
tup=(a,b,c,d,e,f,g,h,i)
print(tup)

('a', 'jaldi', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'lion')

In [15]:
b='jaldi'
i='cat'

In [17]:
tup=(a,b,c,d,e,f,g,h,i) # packing the tuple
print(tup)

('a', 'jaldi', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'cat')

In [45]:
print(type(tup))

<class 'tuple'>

In [11]:
x=('a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog')
a,b,c,d,e,f,g,h,i=x
b='jaldi'
i='lion'
x=(a,b,c,d,e,f,g,h,i)
print(x)

('a', 'jaldi', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'lion')

In [18]:
# CHECKING MUTABILITY

t[0]='quick'
print(t)

TypeError: 'tuple' object does not support item assignment

In [51]:
mystr='a quick brown fox jumps over the lazy dog'
print(mystr.split(' '))
print(type(mystr))
TUP=tuple(mystr)
print(TUP)
print(type(TUP))

['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
<class 'str'>
('a', ' ', 'q', 'u', 'i', 'c', 'k', ' ', 'b', 'r', 'o', 'w', 'n', ' ', 'f', 'o', 'x', ' ', 'j', 'u', 'm', 'p', 's', ' ', 'o', 'v', 'e', 'r', ' ', 't', 'h', 'e', ' ', 'l', 'a', 'z', 'y', ' ', 'd', 'o', 'g')
<class 'tuple'>

In [49]:
mystr=['a quick brown fox jumps over the lazy dog']
print(mystr)
mystr=['a','quick','brown','fox','jumps','over','the','lazy','dog']
print(mystr)

['a quick brown fox jumps over the lazy dog']
['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [74]:
mystr=('a','quick','brown','fox','jumps','over','the','lazy','dog')
print(type(mystr))
print(mystr)
print(mystr[1])
l=list(mystr)
print(l)
print(l[1])
print(type(l))
d='a quick'

<class 'tuple'>
('a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog')
quick
['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
quick
<class 'list'>

In [31]:
# concatenation
tup1=('deepanshu','verma')
tup2=('verma','deepanshu')
print(tup1+tup2)
print(tup2+tup1)

('deepanshu', 'verma', 'verma', 'deepanshu')
('verma', 'deepanshu', 'deepanshu', 'verma')

In [25]:
tup1=['deepanshu','verma']
tup2=['verma','deepanshu']
print(tup1+tup2)
print(tup2+tup1)

['deepanshu', 'verma', 'verma', 'deepanshu']
['verma', 'deepanshu', 'deepanshu', 'verma']

In [33]:
tup1=['deepanshu','verma']
tup2=['verma','deepanshu']
tup1.extend(tup2)
tup1

['deepanshu', 'verma', 'verma', 'deepanshu']

In [30]:
a=[1,2,3,4]
b=[5,6,7,8]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [66]:
a=('Tushar','Tomer')
b=('Tomer','Tushar')
print(a+b)
print(b+a)
print(type(a))

('Tushar', 'Tomer', 'Tomer', 'Tushar')
('Tomer', 'Tushar', 'Tushar', 'Tomer')
<class 'tuple'>

In [67]:
a=['Tushar','Tomer']
b=['Tomer','Tushar']
print(a+b)
print(b+a)
print(type(a))

['Tushar', 'Tomer', 'Tomer', 'Tushar']
['Tomer', 'Tushar', 'Tushar', 'Tomer']
<class 'list'>

In [21]:
# Repetition of tuple
tup1=('deepanshu','verma')
tup2=('verma','deepanshu')
print(tup1*2)
print(tup2*10)
print(len(tup2*10))

('deepanshu', 'verma', 'deepanshu', 'verma')
('verma', 'deepanshu', 'verma', 'deepanshu', 'verma', 'deepanshu', 'verma', 'deepanshu', 'verma', 'deepanshu', 'verma', 'deepanshu', 'verma', 'deepanshu', 'verma', 'deepanshu', 'verma', 'deepanshu', 'verma', 'deepanshu')
20

In [22]:
t=(1,2,3,4,5)
print(t*2)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [37]:
print(tup)

('a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog')

In [40]:
print(tup.index('lazy'))

7

In [38]:
print(TUP.count('o'))

4

In [4]:
# Tuple does not delete index value only list can delete index value
a=(1,2,3,4)
b=list(a)
del b[2]
print(b)

[1, 2, 4]

In [6]:
t=(1,55,2,6,3,56,3,7,76,76,4,67,43,5,3)
print(sorted(t))
print(sorted(t,reverse=True))
print(min(t))
print(max(t))
print(t[len(t)//2])
print(sum(t))

[1, 2, 3, 3, 3, 4, 5, 6, 7, 43, 55, 56, 67, 76, 76]
[76, 76, 67, 56, 55, 43, 7, 6, 5, 4, 3, 3, 3, 2, 1]
1
76
7
407

In [36]:
L=[1,2,3,4,5,6,7,9]
a=len(L)//2
print(a)

4

In [80]:
import numpy as np
z=np.array(L)
print(np.median(z))

4.5

In [37]:
first=L[:a]
print(first)
av1=sum(first)/len(first)
print(av1)

[1, 2, 3, 4]
2.5

In [78]:
second=L[a:]
print(second)
av2=sum(second)/len(second)
print(av2)

[5, 6, 7, 9]
6.75

In [82]:
(6.75+2.5)/2

4.625

In [38]:
# delete
del tup

In [39]:
print(tup)

NameError: name 'tup' is not defined

In [9]:
a='a quick brown fox jumps over the lazy dogs'
print(a)
del a
print(a)

a quick brown fox jumps over the lazy dogs

NameError: name 'a' is not defined

In [24]:
X=sorted(tup) # arrange in ascending order and return in a list
print(X)
print(type(X))

['a', 'brown', 'dog', 'fox', 'jumps', 'lazy', 'over', 'quick', 'the']
<class 'list'>

In [84]:
x='a','A'
x=sorted(x)
x

['A', 'a']

In [29]:
print(ord('A'))

65

In [12]:
print(chr(90))

Z

In [16]:
# ASSCAI Value Of Alphabets
for i in range(65,91):
    print(chr(i),'is a Value of',i,'in ASSCAI Table')

A is a Value of 65 in ASSCAI Table
B is a Value of 66 in ASSCAI Table
C is a Value of 67 in ASSCAI Table
D is a Value of 68 in ASSCAI Table
E is a Value of 69 in ASSCAI Table
F is a Value of 70 in ASSCAI Table
G is a Value of 71 in ASSCAI Table
H is a Value of 72 in ASSCAI Table
I is a Value of 73 in ASSCAI Table
J is a Value of 74 in ASSCAI Table
K is a Value of 75 in ASSCAI Table
L is a Value of 76 in ASSCAI Table
M is a Value of 77 in ASSCAI Table
N is a Value of 78 in ASSCAI Table
O is a Value of 79 in ASSCAI Table
P is a Value of 80 in ASSCAI Table
Q is a Value of 81 in ASSCAI Table
R is a Value of 82 in ASSCAI Table
S is a Value of 83 in ASSCAI Table
T is a Value of 84 in ASSCAI Table
U is a Value of 85 in ASSCAI Table
V is a Value of 86 in ASSCAI Table
W is a Value of 87 in ASSCAI Table
X is a Value of 88 in ASSCAI Table
Y is a Value of 89 in ASSCAI Table
Z is a Value of 90 in ASSCAI Table

In [19]:
for i in range(97,123):
    print(chr(i),'is a Value of',i,'in ASSCAI Table')

a is a Value of 97 in ASSCAI Table
b is a Value of 98 in ASSCAI Table
c is a Value of 99 in ASSCAI Table
d is a Value of 100 in ASSCAI Table
e is a Value of 101 in ASSCAI Table
f is a Value of 102 in ASSCAI Table
g is a Value of 103 in ASSCAI Table
h is a Value of 104 in ASSCAI Table
i is a Value of 105 in ASSCAI Table
j is a Value of 106 in ASSCAI Table
k is a Value of 107 in ASSCAI Table
l is a Value of 108 in ASSCAI Table
m is a Value of 109 in ASSCAI Table
n is a Value of 110 in ASSCAI Table
o is a Value of 111 in ASSCAI Table
p is a Value of 112 in ASSCAI Table
q is a Value of 113 in ASSCAI Table
r is a Value of 114 in ASSCAI Table
s is a Value of 115 in ASSCAI Table
t is a Value of 116 in ASSCAI Table
u is a Value of 117 in ASSCAI Table
v is a Value of 118 in ASSCAI Table
w is a Value of 119 in ASSCAI Table
x is a Value of 120 in ASSCAI Table
y is a Value of 121 in ASSCAI Table
z is a Value of 122 in ASSCAI Table

In [30]:
print(ord('a'))

97

In [17]:
print(ord('z'))

122

In [21]:
print(chr(84))

T

In [25]:
X=sorted(X,reverse=True) # arrange in descending order and return in a list
print(X)

['the', 'quick', 'over', 'lazy', 'jumps', 'fox', 'dog', 'brown', 'a']

In [27]:
print(min(X))
print(max(X))
print(X)

a
the
['the', 'quick', 'over', 'lazy', 'jumps', 'fox', 'dog', 'brown', 'a']

In [29]:
t=(10,9,8,7,6,5,4,3,2,1)
t=sorted(t)
print(t)
print(sum(t))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
55

In [33]:
a=1,2,3,4
print(sum(a))

10

In [ ]:
a=[1,2,3,4]
print(sum(a))

In [32]:
a={1,2,3,4}
print(sum(a))

10

In [86]:
c=sorted(t,reverse=True)
print(c)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [87]:
print(t)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
t=sorted(t,reverse=True) # descending order
print(t)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [34]:
print(ord('a'))
print(ord('A'))

97
65

In [35]:
tp=('A','a')
tp=sorted(tp,reverse=True)
print(tp)

['a', 'A']

In [36]:
print(tup)

('a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog')

In [40]:

T=min(tup)
print(T)
print(max(tup))

a
the

In [10]:
t=(9,8,7,6,5,4,3,2,1)
# print(t)
x=min(t)
print(x)
print(t)

1
(9, 8, 7, 6, 5, 4, 3, 2, 1)

In [39]:
t=(10,9,8,7,6,5,4,3,2,1)

y=max(t)
print(y)

10

In [41]:
print(tup)

('a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog')

In [42]:
print(sum(t))

55

In [79]:
name=1,2
print(type(name),name)

<class 'tuple'> (1, 2)

In [46]:
# advance indexing and slicing

In [97]:
x=((10,20,30),(40,50,60),(70,80,90),(11,22,33),(44,55,66),(77,88,99),(12,13,14)) # nested tuple
print(x)
print(len(x))

((10, 20, 30), (40, 50, 60), (70, 80, 90), (11, 22, 33), (44, 55, 66), (77, 88, 99), (12, 13, 14))
7

In [80]:
name='deepansu'
print('d' in name)

True

In [101]:
t='deepanshu',
for i in t:
    print(i)

deepanshu

In [99]:
x='deepanhsu',

print('a' in x)

False

In [39]:
mystr='aquickbrownfoxjumpsoverthelazydog'
st=''
seq=''
for i in mystr:
    if i not in st:
        st=st+i
print(len(st),st)
l=sorted(st)
for j in l:
    seq=seq+j
print(seq)

26 aquickbrownfxjmpsvethlzydg
abcdefghijklmnopqrstuvwxyz

In [48]:
x=((10,20,30),(40,50,60),(70,80,90),(11,22,33),(44,55,66),(77,88,99),(12,13,14)) 
# print(x[1])
# print(x[0:])
# print(x[:5])
# print(x[1:5])
# print(x[-4:])
# print(x[:-4])
# print(x[-4])
# print(x[0:7:2])
# print(x[3:][1])
# print(x[-5:-3])
# print(x[2:3])
# print(x[2][0])
# print(x[4][1])
# print(x[4:5][0][1])
# print(x[2:3][0])
# print(x[2:3][0][0])
# print(x[2:4][0][0])
# print(x[2:4][0:2])
# print(x[2:4][1][1])
# print(x[2:3][0][0][1])
# print(x[0:][6][2])
# print(x[5:7][1][2])
# print(x[2:][2][2])
# print(x[2:][2][3])
# print(x[2:][2][100:1])
# print(x[-4:])
# print(x[-4:][1])
# print(x[-4:][-1])
# print(x[-4:][1][0])
# print(x[-4:][3])
# print(x[-4:][3][2])
# print('-------------------------------------------------------------------')
# print(x[0:][2][1])
# print(x[2:3][0][1])
# print(x[-1:][0])
# print(x[-1:][0][0])
# print(x[-2:][1][0])
# print(x[0:][0][2])

55
70

In [71]:
for i in range(100,0,-2):
    print(i)

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [50]:
x=((10,20,30),(40,50,60),(70,80,90),(11,22,33),(44,55,66),(77,88,99),(12,13,14))
# print(x[-4:][1][0])
# print(x[-4:][3])
# print(x[-4:][3][2])
# print(x[0:][2][1])
# print(x[2:3][0][1])
# print(x[-1:][0])
# print(x[-1:][0][0])
# print(x[-2:][1][0])
# print(x[0:][0][2])
# print(x[2][3])
# print(x[2:-6])
# print(x[0:2][2][3])
# print(x[2:][:2])
print(x[2:][:2][0][-1],x[-1])
print(x[:4][2][2],x[-1])

90 (12, 13, 14)
90 (12, 13, 14)

In [82]:
name='a quick brown fox jumps over the lazy dog'

s=''
S=''
for i in name:
    if i.isspace() or i in s:
        pass
    else:
        s=s+i
y=sorted(s)
print(y)
print(''.join(y))
for j in y:
    S=S+j
print(len(S),S)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
abcdefghijklmnopqrstuvwxyz
26 abcdefghijklmnopqrstuvwxyz

In [87]:
name='d'
print(name.upper())
print(name.isupper())

D
False

In [83]:
name=' a quick brown fox jumps over the lazy dog'
print(name.upper())

 A QUICK BROWN FOX JUMPS OVER THE LAZY DOG

In [ ]:
'abcdefghijklmnopqrstuvwxyz'

In [54]:
a=((1),3,(3,4),5)
print(a[0:2]+a[2:3][0][0:2]+a[3:4])
print(a[3])
print(a[0:2]+a[2]+a[-1:])
print(a)

(1, 3, 3, 4, 5)
5
(1, 3, 3, 4, 5)
(1, 3, (3, 4), 5)